* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h3{
    font-size: 45px;
    font-weight: 900px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight: normal ;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

/* main style */
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#fff8f3;
    background-position: 38px 23px,bottom right;
    background-repeat: no-repeat;
}
.color-orange{
    color: #FD6E0A;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight:600px;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-img{
    max-width: 584px;
    vertical-align: middle;
   
    
   
}
#about{
    padding-top: 130px;
    /* padding-right: 433px; */
    /* width: 1140px; */
    /* background-color: #fff8f3; */

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
    margin: 0 auto;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-card p{
    font-size: 18px;
    
    line-height: 30px;
    color: #757575;
}
.about-card h4{
    font-size: 20px;
}
#skills, #resume{
    padding-top: 130px;
}
.skills-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #00000028;
    
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
.skill-card p{
    max-width: 201px;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #757575;
    
}
 #resume .resume-container{
    display:flex;
    max-width: 1140px;
    width: 71%;
    margin: 113px auto 0;
    /* padding-top: 113px; */
    gap: 24px;
}
.resume-container h2{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;
}
.resume-card{
    max-width: 511px;
    margin-bottom: 30px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card p{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    max-width: 511px;
    margin-bottom: 30px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
.text-button{
    text-align: center;
}

footer{
    margin-top: 113px;
    background-color: #fff8f3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .section{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.footer-container form input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form input[type="email"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    
}